@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,900');

body {
    background-color: black;
    color:white;
}

div#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: white;
    border-width: 2px;
}

h1#header {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    font-size: calc(1em + 3vmin);
    margin: 10px 0 10px 0;
}

div.gameCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

img.gameCards {
    height: 40%;
    width: 20%;
    margin: 5px;
}